@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homepage__title{
    font-size: 50px;
    padding-top: 100px;
    padding-left: 50px;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}